[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
console-menu = "*"
configupdater = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
types-console-menu = "*"
pyinstaller = "*"
guessinggame-ttv = {editable = true, path = "."}

[requires]
python_version = "3.10"
