name: Code Validation

on:
  pull_request:
    branches:
      - master

    paths:
      - 'src/**.py'
      - 'tests/**.py'

jobs:
  validate-pr:
    name: Validate Pull Requests
    runs-on: ubuntu-latest

    if: ${{ !github.event.pull_request.draft }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev
      - name: Lint with Flake8
        run: |
          pipenv run flake8 .
      - name: Lint with MyPy
        run: |
          pipenv run mypy .
      - name: Test with Pytest
        run: |
          pipenv run pytest
